.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 64px
}

.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 48px;
    text-align: center;
    line-height: 45px;
    color: white;
    text-shadow: 8px 8px 8px rgba(42, 42, 42, 0.95);
}

.ux-desktop-shortcut-text {
    font: normal 10px tahoma, arial, verdana, sans-serif;
    text-decoration: none;
    padding-top: 8px;
    font-size: 12px;
    color: white;
    margin-top: 3px;
    overflow: hidden;
    width: 80px;
    -webkit-user-select: none;
}

.logout {
    background-image: url(images/logout.gif) !important
}

.settings {
    background-image: url(images/gears.gif) !important
}

.ux-start-button-icon {
    background-image: url(images/sencha.gif) !important;
    background-color: transparent
}

.x-title-icon {
    line-height: 15px;
}

div.ux-taskbar div.x-toolbar {
    background: transparent none;
    border: 0 none;
    padding: 0
}