.Wdate {
    /*border:#999 1px solid;
    height:20px;*/
    background: #fff url(datePicker.gif) no-repeat right !important;
}

.Wdate[readonly] {
    /*border:#999 1px solid;
    height:20px;*/
    background: #e6e6e6 !important;
}

.Wdate::-ms-clear {
    display: none;
}

.WdateFmtErr {
    font-weight: bold;
    color: red;
}