.x-treelist-navigation {
    background-color: #32404e;
    background-position: 44px 0;
    padding: 0
}

.x-big .x-treelist-navigation {
    background-position: 0
}

.x-treelist-navigation .x-treelist-toolstrip {
    background-color: #32404e
}

.x-treelist-navigation .x-treelist-item-selected.x-treelist-item-tool {
    background-color: #475360
}

.x-treelist-navigation .x-treelist-item-selected.x-treelist-item-tool:after {
    height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 5px;
    background-color: #5fa2dd
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row {
    background-color: #475360
}

.x-treelist-navigation .x-treelist-item-tool {
    padding-left: 10px;
    padding-right: 10px
}

.x-treelist-navigation .x-treelist-item-tool-floated:after {
    height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 5px;
    background-color: #5fa2dd
}

.x-treelist-navigation .x-treelist-item-expander, .x-treelist-navigation .x-treelist-item-icon:before, .x-treelist-navigation .x-treelist-item-tool:before {
    line-height: 66px
}

.x-treelist-navigation .x-treelist-item-expander, .x-treelist-navigation .x-treelist-item-icon, .x-treelist-navigation .x-treelist-item-tool {
    text-align: center
}

.x-treelist-navigation .x-treelist-item-icon, .x-treelist-navigation .x-treelist-item-tool {
    color: #adb3b8;
    font-size: 18px;
    width: 44px
}

.x-treelist-navigation .x-treelist-item-tool {
    width: 66px
}

.x-treelist-navigation .x-treelist-item-expander {
    color: #fff;
    font-size: 16px;
    width: 24px
}

.x-treelist-navigation .x-treelist-item-text {
    color: #adb3b8;
    margin-left: 50px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 66px
}

.x-treelist-navigation .x-treelist-row {
    padding-left: 10px;
    padding-right: 10px
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row:before, .x-treelist-navigation .x-treelist-row-over:before {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%
}

.x-treelist-navigation .x-treelist-row-over:before {
    background-color: transparent
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row-over:before {
    background-color: #7cb3e3
}

.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row:before {
    background-color: #5fa2dd
}

.x-treelist-navigation .x-treelist-item-floated .x-treelist-container {
    width: auto
}

.x-treelist-navigation .x-treelist-item-floated > .x-treelist-row {
    background-color: #32404e
}

.x-treelist-navigation .x-treelist-item-floated > .x-treelist-container {
    margin-left: -44px
}

.x-big .x-treelist-navigation .x-treelist-item-floated > .x-treelist-container {
    margin-left: 0
}

.x-treelist-navigation .x-treelist-item-floated > * > * > .x-treelist-item-text {
    margin-left: 0
}

.x-treelist-navigation .x-treelist-item-floated > * .x-treelist-row {
    padding-left: 0
}

.x-treelist-navigation .x-treelist-item-floated .x-treelist-row:before {
    width: 0
}

.x-treelist-navigation .x-treelist-item-floated > .x-treelist-row-over {
    background-color: #32404e
}

.x-treelist-navigation .x-treelist-item-floated > .x-treelist-row-over > * > .x-treelist-item-text {
    color: #adb3b8
}

.x-treelist-navigation .x-treelist-item-expanded {
    background-color: #2c3845
}

.x-treelist-navigation.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-icon {
    color: #fff;
    transition: color .5s
}

.x-treelist-navigation.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-text {
    color: #d6d9dc;
    transition: color .5s
}

.x-treelist-navigation.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-expander {
    color: #fff;
    transition: color .5s
}

.x-treelist-navigation .x-treelist-row-over {
    background-color: #3c4a57
}

.x-treelist-navigation .x-treelist-row-over > * > .x-treelist-item-icon {
    color: #fff;
    transition: color .5s
}

.x-treelist-navigation .x-treelist-row-over > * > .x-treelist-item-text {
    color: #d6d9dc;
    transition: color .5s
}

.x-treelist-navigation .x-treelist-row-over > * > .x-treelist-item-expander {
    color: #fff;
    transition: color .5s
}

.x-treelist-navigation .x-treelist-expander-first .x-treelist-item-icon {
    left: 24px
}

.x-treelist-navigation .x-treelist-expander-first .x-treelist-item-text {
    margin-left: 74px;
    margin-right: 0
}

.x-treelist-navigation .x-treelist-expander-first .x-treelist-item-hide-icon > * > * > .x-treelist-item-text {
    margin-left: 30px
}

.x-treelist-navigation .x-treelist-item-hide-icon > * > * > .x-treelist-item-text {
    margin-left: 6px
}

.treelist-with-nav .x-panel-body {
    background-color: #32404e
}

.sencha-logo {
    background-color: #35baf6;
    height: 65px;
    font-size: 16px;
    color: #fff;
    margin-left: 17px
}

.sencha-logo .main-logo {
    line-height: 65px
}

.sencha-logo .main-logo img {
    margin-left: 22px;
    margin-right: 22px;
    top: 8px;
    position: relative
}

.sencha-dash-dash-headerbar {
    padding: 0 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none
}

.sencha-dash-dash-headerbar .header-right-profile-image {
    border-radius: 20px
}

.top-english-button .x-btn-icon-el {
    width: 21px;
    height: 14px
}

.collapsed .hot-icon:after, .collapsed .new-icon:after {
    display: none
}

.collapsed .x-tree-elbow-img {
    display: none
}

.collapsed .x-tree-node-text {
    display: none
}

.x-grid-cell {
    position: relative
}

.hot-icon.hot-icon:after, .new-icon.hot-icon:after {
    content: "HOT";
    background: #e3495a
}

.hot-icon.new-icon:after, .new-icon.new-icon:after {
    content: "NEW";
    background: #35baf6
}

.hot-icon:after, .new-icon:after {
    height: 18px;
    width: 34px;
    display: inline-block;
    position: absolute;
    top: 22px;
    right: -180px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px
}

.x-treelist-item-tool {
    height: 66px
}

.x-treelist-item-tool.hot-icon:after, .x-treelist-item-tool.new-icon:after {
    background: #5fa2dd;
    content: ''
}

.toolbar-btn-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.toolbar-btn-shadow .x-btn-over {
    background-color: #efefef
}

.x-html-editor-input {
    border: 1px solid #ccc
}

.delete-focus-bg:focus, .delete-focus-bg:hover {
    background: 0 0
}

.shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}
